/* Footer.css */
.bottom-footer {
  font-family: "Work Sans", sans-serif;
  padding: 20px;
  color: #fff;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.3); /* Полупрозрачный фон */
  backdrop-filter: blur(10px); /* Эффект размытия заднего фона */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Легкая тень для стеклянного эффекта */
  border-top: 1px solid rgba(255, 255, 255, 0.3); /* Легкая прозрачная граница */
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px; 
}

.bottom-footer strong {
  color: #ffffff; /* Белый цвет для выделенного текста */
}

.bottom-footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.bottom-footer a:hover {
  color: #8bc34a; /* Зеленый цвет при наведении на ссылку */
}

.bottom-footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 10px;
}

.bottom-footer .social-icons a {
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.bottom-footer .social-icons a:hover {
  transform: scale(1.2);
  color: #8bc34a; /* Зеленый цвет при наведении на иконки */
}

/* Responsive Design for Footer */
@media (max-width: 768px) {
  .bottom-footer {
    padding: 20px;
    font-size: 0.9rem;
  }

  .bottom-footer .social-icons {
    gap: 1rem;
  }
}
